<%- include("../partials/adminHeader") %>
<div id="mainContainer" class="flex-column">
    <h1>New Website Model</h1>
    <% if(typeof message.error != "undefined"){ %>
        <% message.error.forEach(item=>{%>
            <h4 class="error"><%= item %></h4>
        <%})%>
    <% } %>  
    <form action="/admin/new" method="POST" enctype="multipart/form-data" id="newSiteForm">
        <div class="flex-row">
            <a href="/admin/websitemodels" class="reverseAnchor backButton">Back</a>
            <button type="submit" id="saveButton">Save</button>
        </div>
        <div class="flex-row">
            <%- include("../partials/formPartials/image_fields.ejs") %>
            <%- include("../partials/formPartials/detail_fields.ejs") %>
            <%- include("../partials/formPartials/css_fields.ejs") %>
        </div>
    </form>
</div>
<script src="/js/list.js"></script>
<script src="/js/listInput.js"></script>
<script src="/js/forms.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script>
    ///Setting up the date picker
    let picker = new Pikaday(
        {
            field:document.getElementById("liveDate"),
        });
    picker.setDate(new Date());
</script>