<%- include("../partials/adminHeader") %>
<div id="mainContainer" class="flex-column">
    <h1>Website Models</h1>
    <a href="/admin/new" class="glowing" id="mainLink">Create New Wesbite Model</a>
    <h3 class="subTitle" >Existing Sites</h3>
    <div class="flex-row">
        <a href="/admin/deactivate" class="optionButton">Deactivate All</a>
        <a href="/admin/activate" class="optionButton">Activate All</a>
    </div>
    <div id="websiteHolder" class="flex-row">
        <% websites.forEach(item =>{%>
            <div class="websiteTemplate flex-column">
                <h3><%= item.name %></h3>
                <div class="flex-row">
                    <a href="<%= `/admin/update/${item.id}` %>" class="reverseAnchor">Update Details</a>
                    <a href="<%= `/admin/updateImages/${item.id}` %>" class="reverseAnchor">Update Images</a>
                    <a href="<%= `/admin/update/state/${item.id}?state=${(item.state == 0?2:0)}` %>" class="reverseAnchor backButton"><%= (item.state==0?"Deactivate":"Activate"); %></a>
                    <% let siteStates = ["siteActive", "siteDraft", "siteInactive"]; %>
                    <span class="<%= siteStates[item.state] %>"></span>
                </div>
            </div>
        <%})%>
    </div>
</div>