<header>
    <a href="https://travelbookhotels.com/" rel="noreferrer" target="_blank" aria-label="Travelbook Hotels Logo"><img id="logo" src="/images/logo.png" alt="Travelbook Hotels Logo"></a>
    <h1>Travelbook Group Templates</h1>
    <p>We here at The Travelbook Group take great pride in the websites that we create.</p>
    <p>We listen to what it is you want and then use our expertise and past experiences to create something that is unique to you.</p>
    <p>Whether it be a completely new design or ideas adapted from another source it does not matter, we know how to make it into something that you will be proud to call your own.</p>
    <h2>Our templates - Your masterpiece</h2>
</header>
<section id="previewSection">
    <img src="/images/sites/<%= websites[1].imageFileNames[0] %>">
</section>
<section class="flex-column">
    <div class="flex-row">
        <%for(let i = 0; i < websites.length; i++){%>
            <div class="card" style="--bannerColour:<%= websites[i].primaryColour %>">
                <img loading="<%=i <= 6 ?"eager":"lazy"%>" src="/images/sites/<%= websites[i].imageFileNames[4] %>" alt="Background image for <%= websites[i].name %>" class="cardImg">
                <div class="cardBody">
                    <h3 class="cardTitle"><%= websites[i].name %></h3>
                    <p class="cardText"><%= websites[i].description %></p>
                    <a href="<%= `/site/${websites[i].name.replace(/ /g, "").toLowerCase()}` %>" class="cardLink">View This Template</a>
                    <h4 class="previewText">💻 Preview</h4>
                </div>
            </div>
        <%}%>
    </div>
</section>

<%let serverNames = ""%>
<%for(let i = 0; i < websites.length; i++){%>
    <%serverNames+=`${websites[i].imageFileNames[0]}${i!=websites.length-1?",":""}`%>
<%}%>

<script>
    let previewSection = document.querySelector("#previewSection");
    let previewSectionImage = document.querySelector("#previewSection img");
    previewSection.addEventListener("mouseover", ()=>{
        previewSection.style.transform = "scale(1)";
    });
    previewSection.addEventListener("mouseleave", ()=>{
        previewSection.style.transform = "scale(0)";
    });
    let names = "<%=serverNames%>".split(",");
    showPreview = index =>{
        parents[index].appendChild(previewSection);
        previewSectionImage.src = `/images/sites/${names[index]}`;
        setTimeout(()=>{
            previewSection.style.transform = "scale(1)";
        },100);
    }
    let parents = [];
    let previewTags = document.querySelectorAll(".previewText");
    for(let i = 0; i < previewTags.length; i++){
        previewTags[i].addEventListener("mouseover", ()=>showPreview(i));
        parents.push(previewTags[i].parentNode);
    }
</script>