<% let inGroup = ["Multi Site", "Group Site", "Landing Page"] %>

<div id="overlay"></div>
<div id="mainContainer" class="flex-row">
    <div class="flex-column" id="leftColumn">
        <h1><%= website.name %></h1>
        <% if(typeof website != "undefined" && inGroup.includes(website.type)){ %>
            <h3 id="groupString">Part of the <%= website.group %> group</h3>
        <% } %>
        <a href="<%= website.url %>" target="_blank">Visit the site</a>
        <div class="flex-column" id="pageContainer">
            <h3>Page List</h3>
            <div id="pageList">
                <% website.pageList.forEach(item =>{ %>
                    <h4><%= item %></h4> 
                <%})%>
            </div>
        </div>
        <div class="flex-column" id="featureContainer">
            <h3>Template Features</h3>
            <div id="featureList">
                <% website.featureList.forEach(item =>{ %>
                    <h4><%= item %></h4> 
                <%})%>
            </div>
        </div>
    </div>
    <div class="flex-column" id="rightColumn">
        <div id="imageContainer" class="flex-row">
            <% let defPath = "/images/temp.png"; %>
            <div class="imageHolder" id="tabletHolder">
                <div class="imageScroller">
                    <img src="<%= (typeof website != "undefined"?`/images/sites/${website.imageFileNames[1]}`:`${defPath}`)%>" draggable="false">
                </div>
                <img id="tabletTemplate" src="/images/tabletTemplate.png" draggable="false">
            </div>
            <div class="imageHolder" id="desktopHolder">
                <div class="imageScroller">
                    <img src="<%= (typeof website != "undefined"?`/images/sites/${website.imageFileNames[0]}`:`${defPath}`)%>" draggable="false">
                </div>
                <img id="desktopTemplate" src="/images/desktopTemplate.png" draggable="false">
            </div>
            <div class="imageHolder" id="mobileHolder">
                <div class="imageScroller">
                    <img src="<%= (typeof website != "undefined"?`/images/sites/${website.imageFileNames[2]}`:`${defPath}`)%>" draggable="false">
                </div>
                <img id="mobileTemplate" src="/images/mobileTemplate.png" draggable="false">
            </div>
        </div>
    </div>
</div>
<div id="floatingText" class="flex-column">
    <h3>Image quality is not indicative of the final website design<br>Please <a href="<%= website.url %>" target="_blank">visit</a> the site to see it in high definition</h3>
    <h5 id="dontShow">Don't show again</h5>
</div>
<div id="floatingButton" class="flex-column">
    <button id="closeTemplate" role="button">Close</button>
</div>

<script>
let cookies = document.cookie.split(";");
let showDontShow = true;
let showElement = document.getElementById("dontShow");
if(cookies.filter(item=>item.trim().startsWith(`showDontShow`)).length){
    showDontShow = false;
}
if(showDontShow){
    showElement.addEventListener("click", (e)=>{
        e.stopPropagation();
        document.cookie = `showDontShow=true; path=/;`;
        showDontShow = false;
        floatingText.style.transform = floatingTransformDefault;
    });
}

let overlay = document.getElementById("overlay");
let isOverlay = false;
let floatingText = document.getElementById("floatingText");
let floatingButton = document.getElementById("floatingButton");
floatingButton.getElementsByTagName("button")[0].addEventListener("click", ()=>closeTemplate());
let imageHolders = document.getElementsByClassName("imageHolder");
for(let i = 0; i < imageHolders.length; i++){
    imageHolders[i].addEventListener("click", (e)=>{
        e.stopPropagation();
        moveTemplate(i)
    });
}

let currentChoice;
let defaultTransform = `scale(1) translate(0,0)`;
let transforms = [
    `scale(2.2) translate(-13.5vw, 2vh)`,
    `scale(1.5) translate(-12.5vw, 11vh)`,
    `scale(2.5) translate(-1.4vw, 3vh)`
];
let zIndexs = [2,1,2];
let floatingTransformDefault = `scale(0) translate(-50%, -10vh)`;
let floatingTransformActive = `scale(1) translate(-50%, 0vh)`;

reset = target =>{
    if(target == null)return;
    if(typeof target == "undefined")return;
    imageHolders[target].style.transform = defaultTransform;
    imageHolders[target].style.zIndex = zIndexs[target];
}

moveTemplate = index =>{
    overlay.style.display = "block";
    isOverlay = true;
    reset(currentChoice);
    imageHolders[index].style.transform = transforms[index];
    imageHolders[index].style.zIndex = 90;
    currentChoice = index;
    if(showDontShow)floatingText.style.transform = floatingTransformActive;
    floatingButton.style.transform = `scale(1)`;
}

closeTemplate = () =>{
    reset(currentChoice);
    isOverlay = false;
    overlay.style.display = "none";
    currentChoice = null;
    if(showDontShow)floatingText.style.transform = floatingTransformDefault;
    floatingButton.style.transform = `scale(0)`;
}

document.addEventListener("click", () =>{
    if(isOverlay)closeTemplate();
});
</script>