<% let inGroup = ["Multi Site", "Group Site", "Landing Page"] %>

<a href="<%= `/site/${pagination[0].name.toLowerCase().replace(/ /g,"")}` %>" id="prevTemplate"><div class="flex-row pagination"><img src="/images/chevron.png" alt="Left Arrow"><h3><%= pagination[0].name %></h3></div></a>
<a href="<%= `/site/${pagination[1].name.toLowerCase().replace(/ /g,"")}` %>" id="nextTemplate"><div class="flex-row pagination"><h3><%= pagination[1].name %></h3><img src="/images/chevron.png" alt="Right Arrow"></div></a>

<header>
    <a href="/">◀ Back to templates</a>
</header>

<div id="mainContainer" class="flex-column">
    <h1><%= website.name %></h1>
    <p>Scroll through this template's home page, shown below, to find out what the design looks like on different devices</p>
    <div id="imageContainer" class="flex-row">
        <% let defPath = "/images/temp.png"; %>
        <div class="imageHolder" id="tabletHolder">
            <div class="imageScroller">
                <img src="<%= (typeof website != "undefined"?`/images/sites/${website.imageFileNames[1]}`:`${defPath}`)%>" draggable="false" alt="Tablet design for <%= website.name %>">
            </div>
            <img id="tabletTemplate" src="/images/tabletFrame.png" draggable="false" alt="Tablet Frame">
        </div>
        <div class="imageHolder" id="desktopHolder">
            <div class="imageScroller">
                <img src="<%= (typeof website != "undefined"?`/images/sites/${website.imageFileNames[0]}`:`${defPath}`)%>" draggable="false" alt="Desktop design for <%= website.name %>">
            </div>
            <img id="desktopTemplate" src="/images/desktopFrame.png" draggable="false" alt="Desktop Frame">
        </div>
        <div class="imageHolder" id="mobileHolder">
            <div class="imageScroller">
                <img src="<%= (typeof website != "undefined"?`/images/sites/${website.imageFileNames[2]}`:`${defPath}`)%>" draggable="false" alt="Mobile design for <%= website.name %>">
            </div>
            <img id="mobileTemplate" src="/images/mobileFrame.png" draggable="false" alt="Mobile Frame">
        </div>
    </div>
    <% if(typeof website != "undefined"){ %>
        <a href="<%= website.url %>" target="_blank" rel="noreferrer">Visit the site</a>
        <p id="stars">⭐<span>⭐</span>⭐</p>
        <p id="learnMoreButton">Learn More</p>
    <% } %>
    <div class="flex-column" id="infoContainer">
        <% if(typeof website != "undefined" && inGroup.includes(website.type)){ %>
            <h3 id="groupString">Part of the <%= website.group %> group</h3>
        <% } %>
        <% if(typeof website != "undefined"){ %>
            <% let datePieces = website.liveDate.toISOString().split("T")[0].split("-"); let day = parseInt(datePieces[2])+1; if(day < 10)day = "0"+day; %>
            <h4 id="liveDate">Live since <%= `${day}/${datePieces[1]}/${datePieces[0]}` %></h4>
        <% } %>
            <div class="flex-column" id="pageContainer">
            <h3>Page List</h3>
            <div id="pageList">
                <% website.pageList.forEach(item =>{ %>
                    <p><%= item %></p> 
                    <%})%>
                </div>
            </div>
            <div class="flex-column" id="featureContainer">
                <h3>Template Features</h3>
                <h4 id="infoString">Select a feature to learn more</h4>
                <div id="featureList">
                <% website.featureList.forEach(item =>{ %>
                    <p class="feature"><%= item %></p> 
                    <%})%>
                </div>
                <p id="disclaimer">Pages and Features shown are not limited to this design</p>
            </div>
    </div>
</div>
<div id="footer"><p>A <a href="https://travelbookgroup.com/" target="_blank" rel="noreferrer">Travelbook Group</a> Template</p></div>

<div class="flex-column raisedDiv" id="offScreenRight">
    <button id="closeSidebar">❌</button>
    <h2>Feature List</h2>
    <% if(typeof features != "undefined"){ %>
        <% features.forEach(item=>{ %>
            <div class="flex-column">
                <h3 id="<%= `${item.name}Title` %>"><%= item.name %></h3>
                <p class="featureDescription"><%= (typeof item.description=="undefined"?"No description available":item.description) %></p>
            </div>
        <%})%>
    <%}%>
</div>

<script>
let yOffset = -30;
let sidebar = document.getElementById("offScreenRight");
sidebar.addEventListener("click", (e)=>e.stopPropagation());
let closeSidebarButton = document.getElementById("closeSidebar");
let isSidebarOpen = false;
closeSidebarButton.addEventListener("click", ()=>closeSidebar());
showSidebar = (target) =>{
    resetColours();
    let targetAttr = findTarget(target);
    sidebar.scrollTo({top: targetAttr.pos+yOffset, behavior: 'smooth'});
    targetAttr.target.style.color = "#52dc57";
    sidebar.style.left = "75vw";
    closeSidebarButton.style.transform = "scale(1) rotate(0)";
    isSidebarOpen = true;
}
closeSidebar = () =>{
    sidebar.style.left = "100vw";
    closeSidebarButton.style.transform = "scale(0) rotate(360deg)";
    isSidebarOpen = false;
}

let featurePos = [];
let features = document.getElementsByClassName("feature");
for(let feature of features){
    feature.addEventListener("click", (e)=>{
        e.stopPropagation();
        showSidebar(feature);
    });
    let target = document.getElementById(`${feature.textContent}Title`);
    featurePos.push({feature:feature, target:target,pos:target.getBoundingClientRect().top});
}

resetColours = () =>{
    for(let feature of featurePos){
        feature.target.style.color = "#c1c1c1";
    }
}

findTarget = (ele) =>{
    for(let feature of featurePos){
        if(ele == feature.feature)return feature;
    }
    return null;
}

document.addEventListener("click", ()=>{
    if(isSidebarOpen)closeSidebar();
});

let isInfoShown = false;
let learnMoreButton = document.getElementById("learnMoreButton");
learnMoreButton.addEventListener("click", ()=>{
    if(!isInfoShown)showInfo();
})

showInfo = () =>{
    let cont = document.getElementById("infoContainer");
    cont.style.display = "flex";
    setTimeout(()=>{cont.style.transform = "scaleY(1)"; window.scrollBy({top:500, left:0, behavior:"smooth"})},100);
    learnMoreButton.style.display = "none";
    isInfoShown = true;
}

</script>

<script src="../js/parseHTML.js"></script>